@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff; /* selalu putih */
  --foreground: #171717; /* selalu hitam */
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
